html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    background-color: rgb(28, 30, 34);
    position: relative;
    color: rgb(245, 245, 245);
}
a, a:hover, a:visited, a:active, a:focus{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
::selection{
    background-color: rgb(60, 64, 71);
    color: rgb(240, 255, 255);
}
::-moz-selection{
    background-color: rgb(60, 64, 71);
    color: rgb(240, 255, 255);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
header{
    position: sticky;
    top: 0;
    right: 0;
    background-color: rgba(28, 30, 34,0.9);
    padding: 1rem 0;
    z-index: 10000;
}
header:after{
    content: '';
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, rgb(247, 191, 191), rgb(208, 195, 240), rgb(174, 202, 223),rgb(236, 232, 182), rgb(201, 236, 152), rgb(167, 167, 146));
    position: absolute;
    bottom: 0;
    background-size: 500% 500%;
    animation: gradient 10s ease-in-out infinite;
}
.navbar-nav{
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-weight: 500;
    margin: 0 auto;
    font-size: 0.9rem;
}
.navmenu__link{
    color: white;
    text-align: center;
}
.nav-link__box{
    position: relative;
}
.navmenu__link:after {
    content: '';
    position: absolute;
    height: 0px;
    background: white;
    top: 37px;
    bottom: 0px;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
}
.nav-link__box:hover{
    cursor: pointer;
}
.nav-link__box:hover .navmenu__link:after{
    height: 0.15rem;
}
.nav-link__box:hover .navmenu__link, .nav-link__box:active .navmenu__link, .nav-link__box:focus .navmenu__link, .nav-link:hover{
    color: rgb(195,207,216);
}
.section-banner{
    height: 640px;
    background-color: rgb(28, 30, 34);
    background-image: linear-gradient(to bottom, rgb(46, 58, 65), rgb(28, 30, 34)) ;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.section-banner__title{
    font-family: 'Ubuntu Condensed', sans-serif;
    line-height: 550px;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, rgb(247, 191, 191), rgb(208, 195, 240), rgb(174, 202, 223),rgb(236, 232, 182), rgb(201, 236, 152), rgb(167, 167, 146));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 500% 500%;
	animation: gradient 10s ease-in-out infinite;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section-banner__title__word{
    margin: 0;
    display: inline-block;
}
.section-banner__title__word::first-letter{
    font-size: 4rem;
}
.title-box{
    position: relative;
    text-align: center;
    padding-top: 50px;
}
.title{
    text-align: center;
    font-size: 1.35rem;
    font-weight: 600;
    padding: 1rem 0 10px 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
    letter-spacing: 2px;
    text-shadow: 0px 0px 15px rgba(240, 248, 255, 0.5);
}
.title:after{
    text-align: center;
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin: 0 0 0 -5rem;
    width: 0px;
    height: 3px;
    opacity: 0;
    background-color: rgb(245, 245, 245);
    animation: line ease-out 2500ms infinite;
}
@keyframes line {
    0%{
        width: 0px;
        opacity: 0;
    }
    100%{
        width: 160px;
        opacity: 1;
    }
}
.skill-boxes{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0rem;
}
.skill-container{
    width: 80px;
    padding: 0;
    text-align: center;
    margin: 1.5rem 1rem;
    transition: all 200ms;
}
.skill-container:hover{
    transform: translateY(-15px);
    border-radius: 7px;
    box-shadow:  0px 10px 25px -10px white;
}
.skill-container__icon{
    margin: 0;
    padding: 10px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: none;
}
.icon{
    font-size: 50px;
}
.skill-container__text{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    padding: 5px 0;
    margin: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: none;
}
.html__icon{
    background-color: rgb(253, 126, 20);
}
.html__text{
    background-color: rgb(180, 89, 15);
}
.css__icon{
    background-color: rgb(55, 154, 214);
}
.css__text{
    background-color: rgb(37, 102, 143);
}
.sass__icon{
    background-color: rgb(213, 110, 163);
}
.sass__text{
    background-color: rgb(163, 44, 105);
}
.git__icon{
    background-color: rgb(243, 79, 41);
}
.git__text{
    background-color: rgb(155, 50, 27);
}
.bootstrap__icon{
    background-color: rgb(121,83,179);
}
.bootstrap__text{
    background-color: rgb(84, 58, 122);
}
.wordpress__icon{
    background-color: rgb(45,113,150);
}
.wordpress__text{
    background-color: rgb(26, 65, 87);
}
.js__icon{
    background-color: rgb(239,216,37);
}
.js__text{
    background-color: rgb(146, 131, 20);
}
.react__icon{
    background-color: rgb(102,219,251);
}
.react__text{
    background-color: rgb(65, 139, 160);
}

/* PROJECTS  */
.project-box{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.card{
    width: 90%;
    margin: 1.5rem 0;
    position: relative;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.4);
    border: 3px solid white;
    background-color: rgb(243, 243, 242);
    transition: all 100ms;
}
.card:hover{
    box-shadow: 0px 0px 15px rgba(255,255,255,0.64);
}
.card:hover .card-body{
    background-color: rgb(255, 255, 255);
}
.card-body{
    background-color: rgb(243, 243, 242);
    color: rgb(28, 30, 34);
    font-size: 0.9rem;
    text-align: center;
}
.card-icons{
    font-size: 2rem;
    margin: 0;
}
.card-icons .card-icons-unit{
    margin: 0 1rem;
    z-index: 0;
    color: rgb(255, 255, 255);
}
.carousel-indicators [data-bs-target] {
    width: 5px;
}

/* CONTACT  */
@keyframes animateIcon {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
.contact{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 0 5rem 0;
}
.contact__box{
    position: relative;
    background-color: rgb(21, 22, 24);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(1, 2, 2);
    transition: all 300ms;
}
.contact__box:hover{
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    border: 3px solid transparent;
    box-shadow: 0px 0px 20px rgb(170, 170, 170);
}
.contact__box:hover .contact__icon{
    animation: animateIcon;
    animation-duration: 0.3s;  
}
.box-email{
    border: 3px solid rgb(192,45,31);
    background-image: linear-gradient(135deg,rgb(102, 26, 19), rgb(192,45,31)); 
}
.box-linkedin{
    border: 3px solid rgb(39,100,172);
    background-image: linear-gradient(135deg,rgb(21, 53, 90), rgb(39,100,172)); 
}
.box-github{
    border: 3px solid rgb(59, 59, 59);
    background-image: linear-gradient(135deg,rgb(0, 0, 0), rgb(59, 59, 59)); 
}
.contact__icon{
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

/* FOOTER  */
footer{
    font-size: 0.7rem;
    background-color: rgb(245, 245, 245);
    color: rgb(63, 67, 77);
    text-align: center;
    margin-top: 2rem;
    padding: 1rem 0;
}

@media screen and (min-width: 768px){
    .card{
        width: 45%;
        margin: 1rem 1rem;
    }
    .card-text{
        height: 90px;
    }
}
@media screen and (min-width: 992px){
    .navbar-nav{
        width: 60%;
        font-size: 1rem;
    }
    .section-banner__title{
        font-size: 50px;
        padding: 0;
        line-height: 600px;
    }
    .skill-boxes{
        width: 50%;
        margin: 2.5rem auto;
    }
    .skill-container{
        width: 90px;
        margin: 1rem 1rem;
    }
    .project-box{
        justify-content: center;
    }
    .card{
        width: 35%;
        margin: 1.5rem 2rem;
    }
    .card-text{
        height: 80px;
    }
}
@media screen and (min-width: 1200px){
    .navbar-nav{
        font-size: 1.2rem;
    }
    .skill-container{
        width: 110px;
    }
    .skill-container__icon{
        padding: 25px 0;
    }
    .skill-container__text{
        padding: 10px 0;
    }
    .card{
        width: 25%;
    }
    .card-text{
        height: 75px;
    }
    .contact{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}